/* global.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /* Optional: Set a default font for the page */
  background-image: url("./assets/layered-waves-haikei.png"); /* Path to your image */
  background-size: cover; /* Cover the entire viewport */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}
